$background-blue-gradient: linear-gradient(to top, #96d6fb 0%, #5d9cfa 100%);
$border-color-hover: #6fbaf7;
$border-color: #151616;

.project-card-wrapper {
  border: 1px solid rgb(33, 53, 78);
  background: $background-blue-gradient;
  border-radius: 15px;
  top: 0px;

  animation: scaleIn 1s ease-in-out forwards;


  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 2px 7px 13px rgba(32, 32, 32, 0.7);
    top: -5px;
    border: 1px solid $border-color-hover;
  }
}

.project-card-image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 1px;
}

.project-card-wrapper-div {
  display: grid;
  background: $background-blue-gradient;
  align-items: center;
  justify-content: center;
}

.project-card-p {
  text-align: center;
  color: rgb(29, 28, 28);
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  font-size: 1.1rem;
  font-weight: bold;

}

.project-card-p-wrapper {
  background: $background-blue-gradient;
  width: 100%;
  height: 100%;
  padding: 2px;
  border-top: 1px solid $border-color;
}

.project-card-h-wrapper {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background: $background-blue-gradient;
  border-bottom: 1px solid $border-color;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.project-card-h {
  text-align: center;
  color: aliceblue;
  text-shadow: 1px 1px 0 #131212;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(.3);
  }

  to {
    transform: scale(1);
  }
}