$dark-blue: rgb(236, 236, 236);
$light-blue: rgb(255, 255, 255);
$lighter-blue: rgb(255, 255, 255);
$homepage-background-color: rgb(255, 255, 255);
$homepage-background-color-2: linear-gradient(180deg, $lighter-blue 0%, $light-blue 75%, $dark-blue 95%);



.intro {
  font-size: 3rem;
  margin-top: 0;
  padding-left: 5rem;

  &:first-child {
    padding-top: 5rem;
  }
}

.homepage-wrapper {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 10rem;
  box-sizing: border-box;
  background: $homepage-background-color;
}


@media only screen and (max-width: 520px) and (min-width: 0px) {
  .intro {
    padding-left: 1rem;
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 520px) and (max-width: 720px) {
  .intro {
    font-size: 1.5rem;
    padding-left: 1rem;
  }
}

@media only screen and (min-width: 2200px) and (max-width: 3800) {
  .intro {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 3800px) {
  .intro {
    font-size: 4rem;

  }
}

.homepage-wrapper {
  padding-bottom: 20vh;
  padding-top: 20vh;
}