.intro {
  color: rgb(21, 82, 90);
  font-size: 3rem;
  margin-top: 0;
  padding-left: 5rem;

  &:first-child {
    padding-top: 5rem;
  }
}

.homepage-wrapper {
  background: rgb(84, 146, 180);
  background: linear-gradient(36deg, rgba(84, 146, 180, 1) 0%, rgba(28, 156, 161, 1) 30%, rgba(155, 228, 244, 1) 75%);
  height: 100%;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 5rem;
}