.contact-wrapper-div {
  padding-bottom: 50rem;
  background-color: #ccc;
  margin: 0;
}

.contact-h2>img {
  box-sizing: border-box;
  height: auto;
  width: 1.5rem;
  margin: 0;
  padding: 0;
  margin-right: 0.5rem;
}