@keyframes navbar-animation {
    0% {
        color: rgb(175, 241, 250);
    }


    50% {
        color: rgb(53, 108, 116);
    }


    100% {
        color: rgb(175, 241, 250);
    }
}

.navbar-div {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    align-items: center;
    background: #333;
    padding: 1rem 0;
}

.navbar-ul {
    display: grid;
    grid-template-columns: repeat(4, minmax(120px, 1fr));
    justify-content: flex-end;
    list-style: none;
    padding-inline-start: 0;
}

.navbar-li {
    padding: .5rem .5rem .2rem 0;
    margin-left: 0;

    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    &:hover {
        transition: all 0.2s linear;
        top: 3px;
    }
}

.navbar-a {
    text-decoration: none;
    color: aliceblue;
    font-size: 2rem;

    &:hover {
        animation-name: navbar-animation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        border-bottom: 1px solid beige;
    }
}

@media only screen and (max-width: 720px) {
    .navbar-li {
        padding: 1rem;
    }

    .navbar-ul {

        grid-template-columns: repeat(2, minmax(300px, 1fr));
        justify-content: space-between;
    }
}

@media only screen and (max-width: 520px) {
    .navbar-div {
        flex-direction: column;
    }

    .navbar-ul {
        grid-template-columns: 1fr;
    }

    .navbar-a {
        display: inline-block;
        font-size: 1.5rem;
    }
}