@keyframes navbar-animation {
    0% {
        color: rgb(175, 241, 250);
    }


    50% {
        color: rgb(53, 108, 116);
    }


    100% {
        color: rgb(175, 241, 250);
    }
}

.navbar-div {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    align-items: center;
    background: #333;
    padding: 0.2rem 0;
    z-index: 2;
}

.navbar-ul {
    display: grid;
    grid-template-columns: repeat(4, minmax(120px, 1fr));
    justify-content: flex-end;
    list-style: none;
    padding-inline-start: 0;
}

.navbar-li {
    padding: .5rem;
    margin-left: 0;

    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    &:hover {
        transition: all 0.2s linear;
        top: 3px;
    }
}

.navbar-a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5rem;

    &:hover {
        animation-name: navbar-animation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        border-bottom: 1px solid beige;
    }
}

.nav-hamburger {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 3;
}

.hamburger-bar1,
.hamburger-bar2,
.hamburger-bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(34, 190, 218);
    margin: 6px 0;
    transition: 0.4s;
}

.change .hamburger-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: white;
}

.change .hamburger-bar2 {
    opacity: 0;
}

.change .hamburger-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: white;
}

@media only screen and (max-width: 720px) {
    .navbar-li {
        padding: 1rem;
    }

    .navbar-ul {

        grid-template-columns: repeat(2, minmax(300px, 1fr));
        justify-content: space-between;
    }
}

@media only screen and (max-width: 520px) and (min-width: 0px) {
    .navbar-div {
        flex-direction: column;
        padding-top: .5rem;
    }

    .navbar-ul {
        grid-template-columns: 1fr;
        width: 100%;
        justify-content: flex-start;
        text-align: left;
        padding: 0;
        margin: 0;
    }

    .navbar-li {
        padding: 0rem 0rem 1rem 2rem;
        border-bottom: 1px solid rgba(204, 204, 204, 0.281);

        &:last-child {
            border-bottom: none;
        }
    }


    .navbar-a {
        display: inline-block;
        font-size: 1.5rem;
    }

    .nav-hamburger {
        display: inline-block;
    }

    .navbar-hamburger-none {
        transition: all 0.4s ease-in-out;
        top: 0;
        position: absolute;
        transform: translateX(-400px);

    }

    .navbar-hamburger-normal {
        transition: all 0.4s ease-in-out;
        position: fixed;
        top: 0;
        width: 100%;
        transform: translateX(0);
    }
}

@media only screen and (min-width: 3800px) {
    .navbar-a {
        font-size: 3rem;
    }
}