.footer-main-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50rem;
  background: #222;
  color: azure;
}

.footer-div-1 {
  background: #222;
}
.footer-div-1 ul {
  list-style: none;
}
.footer-div-1 li a,
:active,
:visited {
  text-decoration: none;
  color: aliceblue;
}
.footer-div-1 li a:hover {
  color: rgb(176, 210, 240);
}

.footer-div-1 li a p {
  display: inline-block;
  margin-left: 0.2rem;
}

.footer-div-1 li a img {
  display: inline-block;
  border-radius: 8px;
}

.footer-div-2 {
  background: red;
  padding: 5rem 0;
}

.footer-div-3 {
  display: grid;
  text-align: center;
  background: green;
}

.footer-div-3-p {
  margin-top: auto;
  margin-bottom: 2rem;
}
