.footer-main-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 5rem;
  background: #222;
  color: azure;
}

.footer-div-1 {
  display: grid;
  grid-template-columns: 1fr;
  background: #222;
  padding: 3rem 0;
  align-items: center;
}

.footer-div-1 ul {
  justify-content: center;
  padding-inline-start: 0;
  width: 50%;
  list-style: none;
  margin-left: auto;
}

.footer-div-1 li a,
.footer-div-2 li a:active,
.footer-div-2 li a:visited {
  text-decoration: none;
  color: aliceblue;
}

.footer-div-1 li a:hover {
  color: rgb(176, 210, 240);
}

.footer-div-1 li a p img {
  display: inline-block;
  margin-right: 0.5rem;
  border-radius: 8px;
}

.footer-div-2 {
  display: grid;
  grid-template-columns: 1fr;
  background: #222;
  padding: 3rem 0;
  align-items: center;
}

.footer-div-2 ul {
  width: 50%;
  margin-left: auto;
  list-style: none;
  display: inline-block;
  padding-inline-start: 0;
}

.footer-div-2 li a,
.footer-div-2 li a:active,
.footer-div-2 li a:visited {
  text-decoration: none;
  color: aliceblue;
}

.footer-div-2 li a:hover {
  color: rgb(176, 210, 240);
}

.footer-div-2 li a p img {
  display: inline-block;
  margin-right: 0.5rem;
  border-radius: 8px;
}

.footer-div-3 {
  display: grid;
  text-align: center;
}

.footer-div-3-p {
  margin-top: auto;
  margin-bottom: 2rem;
  font-size: large;
}

@media only screen and (max-width: 590px) {
  .footer-main-wrap {
    grid-template-columns: 1fr;
  }

  .footer-div-1 {
    padding: 3rem 0 1rem 0;
  }

  .footer-div-2 {
    padding: 1rem 0 2rem 0;
  }

  .footer-div-1 ul {
    width: 60%;
  }

  .footer-div-2 ul {
    width: 60%;
  }
}